@charset "UTF-8";
@import "reset.css";
/* Main page CSS */
/* header 영역 */
#header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
#header .inner h1 {
    position: absolute;
    bottom: 15px;
    left: 0;
}
#header .inner h1 a {
    font: bold 24px/1 'Arial';
    color: #444;
}

#header .inner #gnb {
    position: absolute;
    right: 0;
    bottom: 0;
}

#header .inner #gnb li {
    float: left;
}

#header .inner #gnb li a {
    display: block;
    padding: 14px 40px;
    font: bold 14px/1 'Arial';
    color: #777;
}
#header .inner #gnb li a:hover {
    background-color: #777;
    color: #fff;
} /* 접근성 향상 */

/* visual 영역 */
#visual {
    width: 100%;
    height: calc(100vh - 81px); /* 전체에서 border-bottom을 포함한 header 값을 뺀 값 */
    background-color: #000;
}

#visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

#visual .inner {
    width: 1180px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visual .inner h1 {
    font: normal 120px/1 'Arial';
    color: #fff;
    margin-bottom: 50px;
}

#visual .inner p {
    font: 16px/1.4 'Arial';
    color: #888;
    margin-bottom: 120px;
}

#visual .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px 'Arial';
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
#visual .inner a:hover {
    background-color: #fff;
    color: #000;
}

/* news 영역 */
#news {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 200px 0;
}

#news .inner {
    width: 1180px;
    margin: 0 auto;
}

#news .inner h1 {
    font: bold 30px/1 'Arial';
    text-align: center;
    margin-bottom: 40px;
}

#news .inner .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#news .inner .wrap .article {
    width: 280px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#news .inner .wrap .article:last-of-type {
    margin-right: 0px;
}

#news .inner .wrap .article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

#news .inner .wrap .article h2 {
    font: bold 18px/1 'Arial';
    color: #555;
    margin-bottom: 10px;
}
#news .inner .wrap .article p {
    font: 14px/1 'Arial';
    color: #777;
    margin-bottom: 10px;
}

#brand {
    width: 100%;
    padding: 100px 0 200px;
}

#brand .inner {
    width: 1180px;
    margin: 0 auto;
}

#brand .inner h1 {
    font: bold 30px/1 'Arial';
    text-align: center;
    margin-bottom: 40px;
}

#brand .inner .wrap::after {
    content: '';
    display: block;
    clear: both;
}

#brand .inner .wrap article {
    width: 380px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;   
    overflow: hidden;
    position: relative;
}
#brand .inner .wrap article:first-of-type {
    height: 620px;
    margin-bottom: 0px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
#brand .inner .wrap article:first-of-type i {
    display: block;
    margin-bottom: 10px;
    /* transform: translateY(-250%) scale(6); */
}
#brand .inner .wrap article:first-of-type h2 {
    font: bold 24px/1 'Arial';
    color: #fff;
    margin-bottom: 20px;
}
#brand .inner .wrap article:first-of-type p {
    font: 14px/1.5 'Arial';
    color: #999;
    margin-bottom: 40px;
}
#brand .inner .wrap article:first-of-type a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px 'Arial';
    color: #ccc;
    transition: 0.5s;
    margin-left: 60px;
}
#brand .inner .wrap article:first-of-type a:hover {
    background-color: #ccc;
    color: #333;
}

#brand .inner .wrap article:nth-of-type(3) {
    margin-right: 0px;
}
#brand .inner .wrap article:last-of-type {
    width: 780px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#brand .inner .wrap article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
#brand .inner .wrap article:hover img {
    transform: scale(1.2);
}
/* using float */
#brand .inner .wrap article:first-of-type {
    float: left;
    margin-right: 20px;
    padding: 170px 50px 0;
}
#brand .inner .wrap article:first-of-type i {
    font-size: 100px; /* font sized icon */
}

/* banner */
#banner {
    width: 100%;
    padding: 150px 0;
    background: url(../img/banner.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#banner .inner {
    width: 1180px;
    margin: 0 auto;
}

#banner .inner h1 {
    font: bold 30px/1 "Arial";
    color: #fff;
    text-align: center;
}

#banner .inner p {
    font: 16px/1.3 "Arial";
    color: #fff;
    text-align: center;
}

#brand .inner .wrap::after {
    content: '';
    display: block;
    clear: both;
}

/* comments */
#comments {
    width: 100%;
    padding: 150px 0;
}

#comments .inner {
    width: 1180px;
    margin: 0 auto;
}

#comments .inner h1 {
    font: bold 24px/1 'Arial';
    color: #333;
    text-align: center;
    margin-bottom: 40px;
}

#comments .inner .wrap::after {
    content : '';
    display: block;
    clear: both;
}

#comments .inner .wrap ul {
    width: 100%;
    float: left;
    position: relative;
}

#comments .inner .wrap ul a {
    width: 100%;
    height: 40px;
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #fff;
    font: 12px/40px 'Arial';
    color: #333;
    display: block;
    margin-bottom: 15px;
    transition: 0.5s;
}
#comments .inner .wrap ul a:last-of-type {
    margin-bottom: 0px;
}
#comments .inner .wrap ul a:hover {
    background-color: #333;
    color: #fff;
}

#comments .inner .wrap ul a li .title {
    margin-left: 15px;
}

#comments .inner .wrap ul a li .date {
    float: right;
    margin-right: 15px;
    transform: translateY(-40px);
}
/* footer */
#footer {
    width: 100%;
    padding: 100px 0;
    background-color: #666;
}

#footer .inner {
    width: 1180px;
    margin: 0 auto;
    color: #ccc;
}

#footer .inner h1 {
    font: bold 24px/1 "Arial";
    float: left;
}

#footer .inner ul {
    float: right;
} /* preventing from reverse ordering */

#footer .inner:after {
    content : '';
    display: block;
    clear: both;
}

#footer .inner ul li {
    font: bold 14px/20px "Arial";
    text-align: center;
    float: left;
    margin-right: 25px;
}
#footer .inner ul li:last-of-type {
    margin-right: 0px;
}

#footer .inner ul li a {
    color: #ccc;
}

#footer .inner .line {
    width: 1180px;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    float: left;
}

#footer .inner address {
    width: 100%;
    font: normal 12px/1.3 "Arial";
    float: left;
}

#footer .inner p {
    font: normal 12px/1 "Arial";
    float: left;
    padding-top: 20px;
}

/* sub-page CSS */
/* header_sub */
#header_sub {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header_sub .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
#header_sub .inner h1 {
    position: absolute;
    bottom: 15px;
    left: 0;
}
#header_sub .inner h1 a {
    font: bold 24px/1 'Arial';
    color: #444;
}

#header_sub .inner #gnb {
    position: absolute;
    right: 0;
    bottom: 0;
}

#header_sub .inner #gnb li {
    float: left;
}

#header_sub .inner #gnb li a {
    display: block;
    padding: 14px 40px;
    font: bold 14px/1 'Arial';
    color: #777;
}
#header_sub .inner #gnb li a:hover {
    background-color: #777;
    color: #fff;
}
/* content */
.content {
    width: 100%;
    padding: 0 0 150px;
}
.content .sub_visual {
    width: 100%;
    height: 250px;
    background-color: #bbb;
    margin-bottom: 50px;
}

.content .inner {
    width: 1180px;
    margin: 0 auto;
    min-height: 500px;
}
.content .inner h1 {
    font: normal 50px/1 'Arial';
    color: #000;
    margin-bottom: 30px;
}
.content .inner h1 span {
    font: normal 20px/1 '맑은 고딕';
    color: #aaa;
}
.content .inner h1 span::before {
    content: '/';
    margin-left: 10px;
    margin-right: 20px;
}

/* footer_sub */
#footer_sub {
    width: 100%;
    padding: 100px 0;
    background-color: #666;
}

#footer_sub .inner {
    width: 1180px;
    margin: 0 auto;
    color: #ccc;
}

#footer_sub .inner h1 {
    font: bold 24px/1 "Arial";
    float: left;
}

#footer_sub .inner ul {
    float: right;
} /* preventing from reverse ordering */

#footer_sub .inner:after {
    content : '';
    display: block;
    clear: both;
}

#footer_sub .inner ul li {
    font: bold 14px/20px "Arial";
    text-align: center;
    float: left;
    margin-right: 25px;
}
#footer_sub .inner ul li:last-of-type {
    margin-right: 0px;
}

#footer_sub .inner ul li a {
    color: #ccc;
}

#footer_sub .inner .line {
    width: 1180px;
    height: 1px;
    background-color: #ccc;
    margin: 20px 0;
    float: left;
}

#footer_sub .inner address {
    width: 100%;
    font: normal 12px/1.3 "Arial";
    float: left;
}

#footer_sub .inner p {
    font: normal 12px/1 "Arial";
    float: left;
    padding-top: 20px;
}

/* department sub_page 영역 */
.department .sub_visual {
    background: url(../img/brand1.jpg) no-repeat;
    background-size: cover;
}

/* community sub_page 영역 */
.community .sub_visual {
    background: url(../img/brand2.jpg) no-repeat;
    background-size: cover;
}

.community .inner {
    width: 1180px;
    height: 1px;
    background-color: #ccc;
    margin: 0 auto;
    padding: 0 20px;
}

.community .inner .wrap ul a {
    color: #000;
}

.community .inner .wrap ul a li {
    width: 100%;
    height: 40px;
    border: 1px solid #666;
    font: bold 14px/20px "Arial";
    float: left;
    margin-right: 25px;
}
/* join sub_page 영역 */
.join .sub_visual {
    background: url(../img/brand3.jpg) no-repeat;
    background-size: cover;
}