@charset "UTF-8";
@import "reset.css";
/* header 영역 */
#header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    width: 1180px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    display: flex;
}
#header .inner h1 {
    position: absolute;
    bottom: 15px;
    left: 0;
}
#header .inner h1 a {
    font: bold 24px/1 'Arial';
    color: #444;
}

#header .inner #gnb {
    position: absolute;
    right: 0;
    bottom: 0;
}

#header .inner #gnb li {
    float: left;
}

#header .inner #gnb li a {
    display: block;
    padding: 14px 40px;
    font: bold 14px/1 'Arial';
    color: #777;
}
#header .inner #gnb li a:hover {
    background-color: #777;
    color: #fff;
} /* 접근성 향상 */

/* visual 영역 */
#visual {
    width: 100%;
    height: calc(100vh - 81px); /* 전체에서 border-bottom을 포함한 header 값을 뺀 값 */
    background-color: #000;
}

#visual video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

#visual .inner {
    width: 1180px;
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visual .inner h1 {
    font: normal 120px/1 'Arial';
    color: #fff;
    margin-bottom: 50px;
}

#visual .inner p {
    font: 16px/1.4 'Arial';
    color: #888;
    margin-bottom: 120px;
}

#visual .inner a {
    display: block;
    width: 400px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px 'Arial';
    color: #fff;
    text-align: center;
    transition: 0.5s;
}
#visual .inner a:hover {
    background-color: #fff;
    color: #000;
}

/* news 영역 */
#news {
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 200px 0;
}

#news .inner {
    width: 1180px;
    margin: 0 auto;
}

#news .inner h1 {
    font: bold 30px/1 'Arial';
    text-align: center;
    margin-bottom: 40px;
}

#news .inner .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

#news .inner .wrap .article {
    width: 280px;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
#news .inner .wrap .article:last-of-type {
    margin-right: 0px;
}

#news .inner .wrap .article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 5px;
}

#news .inner .wrap .article h2 {
    font: bold 18px/1 'Arial';
    color: #555;
    margin-bottom: 10px;
}
#news .inner .wrap .article p {
    font: 14px/1 'Arial';
    color: #777;
    margin-bottom: 10px;
}

#brand {
    width: 100%;
    padding: 100px 0 200px;
}

#brand .inner {
    width: 1180px;
    margin: 0 auto;
}

#brand .inner h1 {
    font: bold 30px/1 'Arial';
    text-align: center;
    margin-bottom: 40px;
}

#brand .inner .wrap::after {
    content: '';
    display: block;
    clear: both;
}

#brand .inner .wrap article {
    width: 380px;
    height: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;   
    overflow: hidden;
    position: relative;
}
#brand .inner .wrap article:first-of-type {
    height: 620px;
    margin-bottom: 0px;
    background-color: #333;
    color: #fff;
    text-align: center;
}
#brand .inner .wrap article:first-of-type i {
    display: block;
    margin-bottom: 10px;
    /* transform: translateY(-250%) scale(6); */
}
#brand .inner .wrap article:first-of-type h2 {
    font: bold 24px/1 'Arial';
    color: #fff;
    margin-bottom: 20px;
}
#brand .inner .wrap article:first-of-type p {
    font: 14px/1.5 'Arial';
    color: #999;
    margin-bottom: 40px;
}
#brand .inner .wrap article:first-of-type a {
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid #bbb;
    font: bold 11px/30px 'Arial';
    color: #ccc;
    transition: 0.5s;
    margin-left: 60px;
}
#brand .inner .wrap article:first-of-type a:hover {
    background-color: #ccc;
    color: #333;
}

#brand .inner .wrap article:nth-of-type(3) {
    margin-right: 0px;
}
#brand .inner .wrap article:last-of-type {
    width: 780px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#brand .inner .wrap article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
#brand .inner .wrap article:hover img {
    transform: scale(1.2);
}

/* using float */
#brand .inner .wrap article:first-of-type {
    float: left;
    margin-right: 20px;
    padding: 170px 50px 0;
}
#brand .inner .wrap article:first-of-type i {
    font-size: 100px; /* font sized icon */
}